body{
  margin: 0;
  padding: 0;
  font-family: 'Coda',sans-serif;
}

html {
  scroll-behavior: smooth;
}
 
.wrapper{
  display: flex;
  flex-direction: row;
  background-color: #edf5e1;

}

/* Nav Bar CSS */
.navBar{
  position: sticky;
  top: 0px;   
  width: 355px;
  background-color: #379683;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}   

#navPhoto{
  width: 150px;
  height: 174px;
  border-radius: 60%;
  border: solid;
  border-width: 4px;
  border-color: #edf5e1;
  margin-top: 125px;
  margin-bottom: 30px;
}

.navElements{
  padding-top: 14px;
  text-decoration: none;
  color:  #edf5e1;
  font-size: 22px;
}

#navResume{
  text-decoration: underline;
}

.navElements:hover{
  color: #1f62a5;
}

.active{
  color: #05386b;
  font-weight: 600;
} 

.active:hover{
  color: #05386b;
}

/* Main CSS */
#main{
  overflow: hidden;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
}

.sections{
  height: 100vh;
  max-height: 800px;
  border-bottom: solid ;
  border-color: #91908f;
}

/* About CSS */
#about{
  height: 100vh;
  min-height: 700px;
}

#aNameContainer{
  display: inline-block;
  margin-left: 60px;
}

#aName{
  color:#5cdb95;
  overflow: hidden;
  border-right: .08em solid #5cdb95;;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
    typing 3s steps(20, end) forwards,
    blink .8s 15;
  margin-top: 200px;
  font-size: 80px; 
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #5cdb95; }  
}

#aContact {
  margin-top: -10px;
  color: #91908f;
  padding-left: 60px;
  margin-bottom: 0px;
  font-size: 24px;
}

.aContactHover{
  display: inline;
}

.aContactHover:hover{
  color:#5cdb95;
}

#aInfo{
  margin-top: 70px;
  margin-left: 60px;
  margin-right: 10px;
  max-width: 80%;
  font-size: 22px;
  color: #05386b;
}

#icons{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-left: 60px;
}

#aIcon  {
  margin-right: 25px;
  width: 90px;
  height: 90px;
}

#aLinkedINicon{
  padding-top: 4.5px;
  margin-right: 25px;
  width: 88px;
  height: 88px;
}

#aResumeIcon{
  padding-top: 5.5px;
  margin-right: 25px;
  width: 88px;
  height: 88px;
}

.sectionHeadings{
  color: #5cdb95;
  margin-left: 60px;
  font-size: 34px; 
  margin-top: 40px;
  margin-right: 10px;
}

.sectionText{
  /* color: #91908f  ; */
  color: #05386b;
  font-size: 20px;
  margin-left: 60px;
}

/* Projects CSS */    
#projects{
  min-height: 850px;
}
.rowCardContainer{
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}

.projectCard{
  perspective: 1000px; 
}

.projectCardInner{
  position: relative;
  width: 100%;
  min-width: 400px; 
  min-height: 200px;
  max-width: 400px; 
  max-height: 200px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;  
  transform-style: preserve-3d;   
}

.projectCard:hover .projectCardInner {
  transform: rotateY(180deg);
}

.projectCardFront{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #379683;
  color: #edf5e1;
  padding-top: 10px;
  border-radius: 5%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  font-size: 20px;
}

.projectCardBack{
  box-sizing: border-box;
  background-color:  #379683;
  border-radius: 5%;  
  transform: rotateY(180deg); 
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

#projectImgs{
  width: 300px;
  height: 160px;
  border: solid   ;
  border-radius: 5%;
  border-color: #edf5e1;
  border-width: 3px;
}

.cardBackTitle{
  text-align: center;
  color: #edf5e1;
  font-size: 20px;
}

.cardBackContent{
  text-align: center;
  color: #edf5e1;
  font-size: 16px;
  padding-top: 20px;
}

.cardLinksContainer{
  box-sizing: border-box;
  color: #edf5e1;
  text-decoration: none;
  margin-top: 30px;
}

.cardLink{
  color: #edf5e1;
  text-decoration: none;
}

.cardLink:hover{
  text-decoration: underline;
}

#projectCardHabits{
  transform: translateX(-300px);  
  opacity: 0; 
  transition: 2s all ease;
}

#projectCardHabits.active{
  transform: translateX(0);
  opacity: 1;
}
  
#projectCardStockRace{
  margin-left: 200px;
  margin-top: 80px; 
  transform: translateX(300px);  
  opacity: 0; 
  transition: 2s all ease;
}

#projectCardStockRace.active{
  transform: translateX(0);
  opacity: 1;
}

#projectCardComingSoon{
  margin-top: 80px; 
  margin-left: 250px;
  transform: translateY(100px);  
  opacity: 0; 
  transition: 2s all ease;
}

#projectCardComingSoon.active{
  transform: translateY(0);  
  opacity: 1; 
}

#stockRaceBackContent{
  box-sizing: border-box;
  color: #edf5e1;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 10px;
}
  
#nextProjectFront{
  box-sizing: border-box;
  padding-top: 60px;
}

/* Skills CSS */
.skillsImgContainer{
  display: flex;
  justify-content: center;
  transform: translateY(100px);  
  opacity: 0; 
  transition: 2s all ease;
}

.skillsImgContainer.active {
  transform: translateY(0);
  opacity: 1;
}

.skillsIcons{
  margin-right: 25px;
  width: 90px;
  height: 90px;
}

.listContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  color: #05386B;
  padding-top: 25px;
  font-size: 20px;
  justify-content: center;
}

#leftSkillColumn{
  transform: translateX(-600px); 
  opacity: 0; 
  transition: 2.5s all ease;
}

#rightSkillColumn{
  transform: translateX(600px); 
  opacity: 0; 
  transition: 2.5s all ease;
}

#rightSkillColumn.active{
  transform: translateX(0);
  opacity: 1;
}

#leftSkillColumn.active{
  transform: translateX(0);
  opacity: 1;
}

li{
  list-style-type:circle  ;
color: #05386B; 
}

.listColumns{
  box-sizing: border-box;
  padding-left: 50px;
}

/* Work Experience */
.workExperienceAnimation{
  transform: translateY(100px); 
  opacity: 0; 
  transition: 1s all ease;
  margin-right: 40px;
}

.workExperienceAnimation.active{
  transform: translateY(0);
  opacity: 1;
}

.workExperienceHeading2{
  padding-left: 60px;
  color:#5aca8c;
  font-size: 22px;
  text-decoration: underline;
}

.workExperienceHeading3{
  padding-left: 60px;
  color:#05386b;  
  font-size: 18px;
}

.workExpList{
  margin-left: 60px;
}

.workExpResume{
  color:#91908f;
}

.workExpResume:hover{
  color:#5cdb95;
}
  
.workExpClosing{
  padding-left: 60px;
  color:#91908f;
  font-size: 16px;
}

/* Education CSS */
#education{
  height: 800px;
  margin-right: 20px;
}

.educationContent{
  padding-left: 60px;
  color:#05386b;
  font-size: 20px;
  transform: translateX(300px); 
  opacity: 0; 
  transition: 2s all ease;
}

.educationContent.active{
  transform: translateX(0px); 
  opacity: 1; 
}

#workExperience{
  height: 650px;
}

#education{
  height: 650px;
}

#skills{
  height: 550px;
}

/* Media Queries */
@media only screen and (max-width: 1250px) {
  .rowCardContainer{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
  }

  #projectCardComingSoon{
    margin-top: 40px; 
    margin-left:0px;
  }  
  
  #projectCardStockRace{
    margin-left: 0px;
    margin-top: 40px;
  }

  #projects {
    min-height: 900px;
  }

}


@media only screen and (max-width: 1100px) {
  
  .navBar{
    display: none;
  }   

}

@media only screen and (max-width: 750px) {
  
  .skillsIcons{
    margin-right: 15px;
    width: 90px;
    height: 90px;
  }

}


@media only screen and (max-width: 650px) {
  #aName{
    font-size: 70px; 
  }

  #aInfo{
    margin-top: 30px;
    font-size: 16.5px;
  }

  #aContact{
    font-size: 16.5px;
  }

  .skillsIcons{
    margin-right: 15px;
    width: 70px;
    height: 70px;
  }

  #rightSkillColumn{
    margin-right: 10px;
  }

  .workExperienceAnimation{
    margin-right: 20px;
  }

}

@media only screen and (max-width: 500px) {
  #aName{
    font-size: 50px; 
  }

  #aIcon  {
    margin-right: 15px;
    
  }
  
  #aLinkedINicon{
    margin-right: 15px;
  }
  
  #aResumeIcon{
    margin-right: 15px;
  }

  .projectCardInner{
    position: relative;
    width: 100%;
    min-width: 350px;
  }

  .skillsIcons{
    margin-right: 8px;
    width: 60px;
    height: 60px;
  }

  .cardBackContent{
    font-size: 14px;
    padding-top: 10px;
  }

  .cardLink{
    font-size: 14px;
  }

  .listColumns{
    box-sizing: border-box;
    padding-left: 20px;
  }

  .workExpList{
    font-size: 14px;
  }

  .workExpClosing{
    font-size: 14px;
  }

  #workExperience{
    height: 750px;
  }

  #stockRaceBackContent{
    font-size: 10px;
  }
}

/* Flip Cards */
@media only screen and (max-width: 499px) {
  
  .projectCard .projectCardInner {
    transform: rotateY(180deg);
  }

  #projectsHoverCaption{
    display: none;
  }

}


@media only screen and (max-width: 400px) {

  #aName{
    font-size: 40px; 
  }

  #aInfo{
    margin-top: 30px;
    font-size: 14px;
  }

  #aContact{
    font-size: 14px;
    margin-right: 10px;
  }

  .skillsIcons{
    margin-right: 8px;
    width: 50px;
    height: 50px;
  }

  #rightSkillColumn{
    margin-right: 10px;
  }
  
  .workExperienceHeading2{
    padding-left: 60px;
    font-size: 20px;
    text-decoration: underline;
  }
  
  .workExperienceHeading3{
    padding-left: 60px;
    font-size: 16px;
  }
  
  .workExpList{
    font-size: 12px;
  }

  .workExpClosing{
    font-size: 12px;
  }

}

/* CSS Effects   */
/* Bounce Out */
.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
} 
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

